{% extends 'partials/base.html.twig' %}

{% block content %}
<h4>{{ paste.title }}</h4>
<h6>Created By {{ paste.author }} on {{ paste.created }}</h6>
<h6>Language: {{ paste.lang }}</h6>

<pre><code>{{ paste.raw }}</code></pre>
{% endblock %}